@charset "utf-8";
*{
	box-sizing: border-box;
}
a{
	text-decoration:none;
}
html{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	text-decoration:none;
}

body,html,div,p,h1,h2,h3,h4,h5,h6{
	padding:0;
	margin:0;
	
}

.navigation{
	
	background-image:url(header.jpg);
	color:#FFF;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
}
.navigation a{
	
	background-color: rgba(224,224,224,0.7);
	border:1px solid #FFF;
	text-transform:uppercase;
	border-radius: 5px;
	padding: 10px;
	display: inline-block;
	color:#000;
}
.navigation a:hover{
	
	background-color: rgba(0,0,0,0.7);
	border:1px solid #FFF;
	text-transform:uppercase;
	border-radius: 5px;
	padding: 10px;
	display: inline-block;
	color:#FFF;
}

.description{
	width:100%;
	color:  #757575;
	text-align:justify;
	padding: 10px;
	background-color:#EEEEEE;
}

.promo{
	width:100%;
	background-color:#CCC;
	color: #FFF;
	padding: 5px;
	text-align:center;
	clear:both;
}
.promo #training_header{
	
	background-color:#000;
	padding: 10px;
	color: #FFF;
	font-weight:normal;
	margin-bottom: 10px;
}
.promo_class{
	display:inline-block;
	width: 200px;
	height: 120px;
	color: #FFF;
	margin-bottom: 5px;
}
.promo #ibm{
	background-image:url(ibm.png);
}
.promo #ibm:hover{
	border: 1px solid #999;
	cursor: pointer;
}
.promo #ingenie{
	background-image:url(carneige.png);
}
.promo #ingenie:hover{
	border: 1px solid #999;
	cursor: pointer;
}
.promo #labview{
	background-image:url(labview.png);
}
.promo #labview:hover{
	border: 1px solid #999;
	cursor: pointer;
}
.promo #microsoft{
	background-image:url(microsoft.png);
}
.promo #microsoft:hover{
	border: 1px solid #999;
	cursor: pointer;
}
.promo #renewable{
	background-image:url(renewable.png);
}
.promo #renewable:hover{
	border: 1px solid #999;
	cursor: pointer;
}

	




@media only screen and (min-width: 1024px){
.main_wrapper{
	width: 1024px;	
	margin: 0 auto;
	background-color:#CCC;
}

.banner{
	background-image:url(banner.jpg);
	width: 1024px;
	height: 200px;
	background-repeat:no-repeat;
		
}
.about_image{
	width: 400px;
	height: 250px;
	background-image: url(about_large.jpg);
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
}

.description .about_para{
	line-height: 1.4;
	vertical-align:top;
}
.promo_class{
	display:inline-block;
	width: 200px;
	height: 120px;
	color: #FFF;
	margin-bottom: 5px;
	margin-left: 60px;
}


}


@media only screen and (max-width: 1023px) and (min-width: 700px){
.main_wrapper{
	width: 700px;	
	margin: 0 auto;
	background-color:#06C;
}

.banner{
	background-image:url(banner_medium.jpg);
	width: 700px;
	height: 140px;
	background-repeat:no-repeat;
		
}
.about_image{
	width: 273.43px;
	height: 170.875px;
	background-image: url(about_medium.jpg);
	float: left;
	margin-right: 15px;
	margin-bottom: 10px;
}

.description .about_para{
	line-height: 1.5;
	vertical-align:top;
}
.promo_class{
	display:inline-block;
	width: 200px;
	height: 120px;
	color: #FFF;
	margin-bottom: 5px;
	margin-left: 10px;
}

}

@media only screen and (max-width: 699px) and (min-width: 400px){
.main_wrapper{
	width: 400px;	
	margin: 0 auto;
	background-color:#06C;
}

.banner{
	background-image:url(banner_small.jpg);
	width: 400px;
	height: 80px;
	background-repeat:no-repeat;
		
}
.about_image{
	width: 100%;
	height: 250px;
	background-image: url(about_small.jpg);
	float: none;
	margin-right: 15px;
	margin-bottom: 15px;
}

.description .about_para{
	line-height: 1.4;
	vertical-align:top;
}

.promo_class{
	display:inline-block;
	width: 150px;
	height: 90px;
	color: #FFF;
	margin-bottom: 5px;
	background-size:contain;
}


}

@media only screen and (max-width: 399px) and (min-width: 320px){
.main_wrapper{
	width: 320px;	
	margin: 0 auto;
	background-color:#06C;
}

.banner{
	background-image:url(banner_mobile.jpg);
	width: 320px;
	height: 64px;
	background-repeat:no-repeat;
		
}
.navigation{
	padding-bottom: 1px;
}
.navigation a{
	margin: 2px;
	padding: 10px;
	border-bottom: 1px solid #000;
	display: block;
	color:#000;
}
.navigation a:hover{
	margin: 2px;
	padding: 10px;
	display: block;
	color:#FFF;
}

.about_image{
	width: 100%;
	height: 200px;
	background-image: url(about_small.jpg);
	float: none;
	margin-right: 15px;
	margin-bottom: 15px;
}

.description .about_para{
	line-height: 1.4;
	vertical-align:top;
}
.promo_class{
	display:inline-block;
	width: 100px;
	height: 60px;
	color: #FFF;
	margin-bottom: 5px;
	background-size:contain;
}



}




